<h1>About Jungle</h1>
<p>Started in 1852, Jungle has been selling exotic plants right out of the jungles of Costa Rica, Venezuela and Nicaragua
 to the world for use in homes, patios and personal jungles. We are sustainable, eco-friendly and our carbon footprint is 
 substantially low due to our massive collection of plants. We sincerely hope you enjoy our plants to the fullest!</p>
